@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.inner-whole-wrapper {
  height: 100vh;
  background-color: #090917;
  min-width: 100vw;
  display: flex;
  line-height: 2;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.side-navigation {
  width: 150px;
}

.main-content {
  background-color: #000;
  width: calc(100vw - 150px);
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 0 25px #808080;
  padding: 20px;
  overflow-y: scroll;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.side-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 0.7rem;
  font-weight: 700;
}

.nav-items li {
  margin: 20px;
  list-style: none;
}

.nav-items a {
  color: #fff;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

.nav-items a:hover {
  color: red;
  transition: 0.1s ease-in-out;
}

.nav-items-separater {
  background-color: #fff;
  opacity: 0.3;
  width: 80%;
}

/* side bar submenu */

.menu-container {
  position: relative;
}

.submenu {
  position: absolute;
  left: 90%;
  top: 15px;
  background-color: #090917;
  width: 100px;
  border-radius: 0 15px 15px 15px;
  box-shadow: 0 0 10px #808080;
  display: none;
}

.submenu li {
  margin: 10px;
}

.menu-container:hover .submenu {
  display: block;
}

/* main content style */

/* header styles */

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.logo {
  height: 75px;
  margin-right: 25px;
}

.logo-container {
  display: flex;
}

.logo-container div {
  display: grid;
  place-items: center;
  font-family: "Roboto Slab", serif;
}

.logo-text:nth-child(1) {
  font-size: 1.1rem;
}

.logo-text:nth-child(2) {
  font-size: 0.9rem;
}

.header-btn {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  background-color: red;
  border-radius: 5px;
  font-size: 0.7rem;
}

.header-buttons input {
  width: 120px;
  padding: 3px;
  margin: auto 5px auto 15px;
}

.header-buttons input:focus {
  outline: none;
}

iframe {
  display: block;
  width: 100%;
  border: none;
  overflow: hidden;
  /* height: calc(100vh - 10px) !important; */
}

/* brochure container */

.brochure-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.brochure-container div {
  display: flex;
  justify-content: space-between;
}

.download-btn a {
  padding: 8px 15px;
  border-radius: 20px;
  color: #fff;
  background-color: red;
  text-decoration: none;
  font-size: 0.7rem;
  margin-right: 20px;
}

svg {
  margin-right: 5px;
  height: 0.7rem;
}

/* main-page */

.main-page {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  line-height: 2;
}

.main-page-container {
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
}

.main-page-first-left {
  width: 60%;
  text-align: justify;
}

.main-page-heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(95, 95, 95);
}

.heading-underline {
  margin: 10px 0 20px;
  width: 60px;
  background-color: red;
  height: 3px;
  border: none;
}

.main-page-content {
  margin: auto auto 20px 20px;
}

.main-page-content span {
  margin-left: 30px;
}

.carousel-img {
  width: 100%;
  border-radius: 5px;
}

.main-page-first-right {
  border: 1px solid #fff;
  width: 35%;
  text-align: center;
  min-height: 370px;
}

.main-page-first-right marquee {
  margin-top: 25px;
  max-height: 250px;
}

.main-page-first-right .main-page-content {
  text-align: center;
}

.main-page-first-right .heading-underline {
  margin: auto;
}

.extra-btn {
  margin: 20px;
}

.extra-btn a {
  color: #fff;
  padding: 5px;
  background-color: red;
  border-radius: 5px;
  text-decoration: none;
}

.apply-now {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #424242;
  border-radius: 5px;
}

.more-about-us {
  margin-top: 30px;
  display: flex;
}

.more-about-us div:nth-child(1) {
  margin-right: 30px;
}

.more-about-us div img {
  width: 400px;
  border-radius: 5px;
}

.more-about-us .main-page-content {
  text-align: justify;
}

.mandatory-disclosure {
  margin-top: 30px;
}

.mandatory-disclosure .main-page-heading {
  text-align: center;
}

.mandatory-disclosure .heading-underline {
  margin: auto;
}

.disclosure-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
}

.disclosure-box div {
  width: 47%;
  margin-bottom: 30px;
  background-color: #424242;
  padding: 20px;
}

.disclosure-underline {
  margin: 10px 0 20px;
  background-color: rgb(95, 95, 95);
  height: 3px;
  border: none;
}

.disclosure-box a {
  color: #fff;
  text-decoration: none;
}

.disclosure-box p {
  font-size: 1.1rem;
}

.question {
  margin-top: 20px;
  margin-bottom: 10px;
}

.answer {
  margin-left: 30px;
}

.footer {
  background-color: #424242;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.footer-container:nth-child(1) {
  width: 39%;
}

.footer-container:nth-child(2),
.footer-container:nth-child(3) {
  width: 29%;
}

.footer-heading {
  font-weight: 500;
  color: red;
}

.footer-content {
  font-size: 0.85rem;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-inner-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
